<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="serwach_modules" translate="label" class="serwach-tab" sortOrder="10">
            <label>Serwach</label>
        </tab>
        <section id="serwach_omnibus_extension" translate="label" type="text" sortOrder="100" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <label>Omnibus Extension</label>
            <tab>serwach_modules</tab>
            <resource>Serwach_OmnibusExtension::config</resource>
            <group id="configuration" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Configuration</label>
                <field id="is_enabled" translate="label comment" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
